wp-config.php
.idea/
wp-admin/
wp-includes/
wp-content/cache/
wp-content/plugins/
wp-content/uploads/
wp-content/themes/
!wp-content/themes/killarney-lodge/
wp-content/themes/killarney-lodge/node_modules/
wp-content/themes/killarney-lodge/dist/

wp-content/themes/php-info.php
