.gallery-images {
  width: 100%;
  background: #393939;
  padding-bottom: 72px;

  .gallery-slider {
    width: 100%;
  }
}

.gallery-videos {
  width: 100%;
  background: #393939;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;

  .gallery-slider {
    width: 80%;
    padding: 1rem 1rem 6.5rem 1rem;
    background-color: #d6d6d6;
  }


  @media (max-width: 576px) {
    padding-bottom: 2rem;
  }
}

.gallery-divider {
  position: relative;
  display: flex;
  align-items: center;
  background: #393939;
  padding-top: 3rem;
  padding-bottom: 4rem;

  @media (max-width: 576px) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  @media (min-width: 576px+1px) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  img {
    margin-top: 4px;
    width: 100%;
  }
}

.gallery-tours {
  width: 100%;
  background: #393939;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
}