.gallery-tour {

  padding-top: 5rem;

  @media (max-width: $nav-mobile-breakpoint) {
    padding-top: 0rem;
  }
  margin-bottom: 2rem;
  padding-bottom: 10rem;

  background: #393939;

  .gallery-slogan {
    img {
      padding: 1.5rem 0 1.3rem 0;
      width: 100%;
    }
  }

  .virtual-tour {
    //
  }

}