$nav-height-desktop: 5rem;

.kl-navbar--mobile {

}

.kl-navbar--desktop {
  position: relative;
  font-size: 14px;

  @media(max-width: 935px) {
    height: $nav-height-desktop;
  }

  .kl-navbar--book-now {
    box-shadow: 0px 0px 0px 2px #723232;
    color: #5b0000;
    background-color: white;
    letter-spacing: 2px;
    display: inline-block;
    padding: 3px;
    line-height: 13px;
    font-weight: bold;
    position: fixed;
    z-index: 2;
    left: 5px;
    top: 200px;
    @media(max-width: 767px) {
      top: 40%;
    }

    &:hover {
      text-decoration: inherit;
    }

    $arrow-top-location: 54px;

    &:after {
      top: $arrow-top-location+3px;
      left: 97%;
      content: "";
      position: absolute;
      border: solid transparent;
      border-left-color: #ffffff;
      border-width: 6px;
    }

    &:before {
      top: $arrow-top-location;
      left: 100%;
      content: "";
      position: absolute;
      border: solid transparent;
      border-left-color: #5b0000;
      border-width: 8px;
    }
  }

  .kl-navbar-wrapper {
    background-color: rgba(0, 0, 0, .5);
    padding: $spacer/2;
    width: 100%;
    height: $nav-height-desktop;
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;

    .kl-navbar--holder {
      position: relative;
      display: flex;
      justify-content: center;
      height: 100%;

      &:before {
        content: "";
        right: -1rem;
        height: 1px;
        background-color: rgba(255, 255, 255, .18);
        left: -1rem;
        bottom: -6px;
        position: absolute;
      }

      .kl-navbar--menu {
        position: absolute;
        left: $spacer;

        @media(max-width:319px){
          left:0;
          transform: scale(.85);
          transform-origin: top left;
        }

        @media (max-width: 482px) {
          left: 0;
          width: 180px;
          overflow: hidden;
        }

        top: 0;

        img {
          height: 60px;
        }
      }

      // .kl-navbar--menu

      .kl-navbar--items {

        @media(max-width: 935px) {
          display: none;
          visibility: hidden;
        }

        color: white;
        display: flex;
        justify-content: center;
        align-self: flex-end;

        ul {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;

          li {
            margin-right: 15px;

            a {
              color: white;
            }
          }
        }
      }

      // .kl-navbar--items

      .kl-navbar--phone {
        position: absolute;
        right: $spacer;
        top: 0;

        @media(max-width:319px){
          right:0;
          transform: scale(.75);
          transform-origin: top right;
        }

        a {

          text-decoration: inherit;
          color: inherit;
          position: relative;

          .kl-navbar--phone-number {
            color: white;
            letter-spacing: 1px;
            padding-bottom: 5px;
            text-shadow: 1px 1px black;
          }

          .kl-navbar--phone-title {

            box-shadow: 0px 0px 0px 2px #723232;
            color: #5b0000;
            background-color: white;
            letter-spacing: 2px;
            display: inline-block;
            padding: 0px 6px;
            position: relative;

            &:after {
              top: 95%;
              left: 50%;
              content: "";
              position: absolute;
              border: solid transparent;
              border-top-color: #ffffff;
              border-width: 7px;
              margin-left: -7px;
            }

            &:before {
              top: 101%;
              left: 50%;
              content: "";
              position: absolute;
              border: solid transparent;
              border-top-color: #5b0000;
              border-width: 8px;
              margin-left: -8px;
            }
          }

          //.kl-navbar--phone-title
        }

        // a
      }

      // .kl-navbar--phone-tag
    }

    // .kl-navbar--holder
  }

  // .kl-navbar-wrapper
}