$nav-mobile-breakpoint: 820px;
$nav-bar-spacer: 24px;

/**
mobile trigger mechanism
 */
input[name=mobile-trigger] {
  visibility: hidden;
  display: none;
}

input[name=sub-item-trigger] {
  visibility: hidden;
  display: none;
}

@media (max-width: $nav-mobile-breakpoint) {
  .nav-mobile-trigger + input:checked + .responsive-nav {
    visibility: visible;
    display: block;
  }
  .nav-mobile-trigger + input:not(checked) + .responsive-nav {
    visibility: hidden;
    display: none;
  }
  .menu-sub-item-trigger + input:checked + .menu-sub-items {
    visibility: visible;
    display: block;
  }
  .menu-sub-item-trigger + input:not(checked) + .menu-sub-items {
    visibility: hidden;
    display: none;
  }
}

/**
end mobile trigger mechanism
 */

.kl-responsive-nav {
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-mobile-trigger {
    cursor: pointer;
    font-size: 32px;
    color: white;
    margin: 25px 0 0 0;
    padding: 12px 12px 0 12px;
    line-height: 1;
    @media (min-width: $nav-mobile-breakpoint) {
      visibility: hidden;
      display: none;
    }
  }

  .responsive-nav {
    display: flex;
    margin-top: 32px;
    visibility: visible;

    @media (max-width: $nav-mobile-breakpoint) {
      margin-top: 2px;
      flex-direction: column;
      box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.35);
      font-size: 12px;
    }

    .menu-main-items {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width: $nav-mobile-breakpoint) {
        &:not(:last-child) {
          border-bottom: 1px solid black;
        }
      }

      .menu-main-item {
        position: relative;

        @media (max-width: $nav-mobile-breakpoint) {
          width: $nav-bar-spacer * 9;
        }

        .menu-sub-item-link {
          padding: $nav-bar-spacer/2;
          color: white;
          display: inline-block;
          width: 100%;
          @media (max-width: $nav-mobile-breakpoint) {
            color: black;
            background-color: white;
            padding: $nav-bar-spacer/3;
          }
        }

        .menu-sub-item-trigger {
          cursor: pointer;
          color: black;
          visibility: hidden;
          display: none;
          position: absolute;
          padding: $nav-bar-spacer/2;
          right: 0;
          top: 0;
          z-index: 1;
          @media (max-width: $nav-mobile-breakpoint) {
            visibility: visible;
            display: inline-block;
            padding: $nav-bar-spacer/3;
          }
        }

        @media (min-width: $nav-mobile-breakpoint) {
          &:hover {
            .menu-sub-items {
              visibility: visible;
              display: block;
            }
          }
        }

        .menu-sub-items {
          @media (min-width: $nav-mobile-breakpoint) {
            visibility: hidden;
            display: none;
          }
          background-color: white;
          list-style: none;
          margin: 0;
          position: absolute;
          left: 0;
          top: 40px;
          width: $nav-bar-spacer * 9;
          padding: $nav-bar-spacer/2 $nav-bar-spacer;

          @media (max-width: $nav-mobile-breakpoint) {
            position: relative;
            left: initial;
            top: initial;
            padding: $nav-bar-spacer/3 $nav-bar-spacer/2;
          }

          .menu-sub-item {
            a {
              color: black;
              display: inline-block;
              width: 100%;

              .fas {
                margin-right: 5px;
              }
            }

            &:not(:last-child) {
              a {
                padding-bottom: $nav-bar-spacer/3;
              }
            }
          }
        }
      }
    }
  }
}