@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import './incudes/_ninja-form-overrides.scss';
@import './incudes/_masthead_carousel.scss';
@import './incudes/_top_nav.scss';
@import './incudes/_bottom_nav.scss';
@import './incudes/_top-nav-responsive-menu.scss';
@import './incudes/_video.scss';
@import './incudes/_cabins.scss';
@import './incudes/_newsletter.scss';
@import './incudes/_gallery.scss';
@import './incudes/_site_map.scss';

body {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  width: 100%;
  color: #151515;
}

H1, H2, H3, H4, H5, H6 {
  font-family: Georgia, serif;
}

.kl-breadcrumb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacer;
  font-weight: bold;
  color: #6E6E6E;

  H1 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: $spacer/2;
    text-align: center;
  }

  H2 {
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 16px;
    margin: 0;
    text-align: center;
  }
}

.kl-text,
.kl-img {
  margin-bottom: $spacer*2;
  @media (max-width: 482px) {
    margin-bottom: $spacer*2;
  }
}

.kl-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 16px;
  letter-spacing: 1px;

  ul {
    line-height: 25px;
    letter-spacing: 0px;
    padding-left: 15px;
  }

  p {
    &:last-child {
      margin: 0;
    }
  }

  h6 {
    font-family: Georgia, serif;
    color: #6E6E6E;
  }

  /**
  pricing table
   */
  &.kl-text--table {

    justify-content: flex-start;

    table {
      margin-bottom: $spacer;

      tr {
        border-bottom: $spacer solid rgba(0, 0, 0, 0);

        td {
          vertical-align: top;

          &:nth-child(1) {
            width: 75%;
          }

          &:nth-child(2) {
            padding: 0 $spacer;
            background-color: #e5e6da;
            text-align: center;
          }

          &:nth-child(3) {
            padding: 0 $spacer;
            background-color: #fff;
            text-align: center;
          }

          &:nth-child(4) {
            padding: 0 $spacer;
            background-color: #f6e4db;
            text-align: center;
          }
        }

        &:first-child {
          td {
            padding-top: $spacer;
          }
        }
      }

      /**
      tighten table  for iphone 4
       */
      @media (max-width: 396px) {
        tr {
          td {
            &:nth-child(1) {
              font-size: 75%;
              line-height: 1;
            }
          }

          td {
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4) {
              padding-left: $spacer/2;
              padding-right: $spacer/2;
            }
          }
        }
      }

    }
  }

  /**
  special paragraph with custom breaks
   */
  &.kl-text--break-hide {
    @media (max-width: 992px) {
      text-align: left;
      br {
        display: none;
        visibility: hidden;
      }
    }
  }

  .wp-block-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

.kl-img {
  display: flex;
  align-items: flex-start;
  position: relative;
  flex-direction: column;

  /**
  href map with links
   */
  &.kl-img--map {
    a {
      position: absolute;
    }
  }

  /**
  multiple images stacked
   */
  &.kl-img--stack {
    .wp-block-image {
      &:not(:last-child) {
        margin-bottom: 2*$spacer;
      }
    }
  }

  .wp-block-image {
    width: 100%;

    img {
      width: 100%;
    }
  }
}

/**
hovers for link images only
 */
.wp-block-image {
  a {
    img {
      opacity: 1;
    }

    &:hover {
      img {
        opacity: .75;
      }
    }
  }
}